
 ion-title {
     text-align: center;
 }

 ion-icon {
     width: 100px;
     height: 100px;
     color: #00acee;
 }

 .welcome {
    margin-top: 130px;
    text-align: center; 

 }

 li {
     margin: 50px;
 }

 ion-label {
     font-size: xx-large;
 }