
  <ion-toolbar>
    <ion-row>
      <ion-button class="close" color="light" (click)="closeModal()"><ion-icon name="close-sharp"></ion-icon></ion-button>
      <ion-title>Add Tweet</ion-title>
    </ion-row>
  </ion-toolbar>


<ion-content>
  <ion-progress-bar *ngIf="ontweetsend === true" type="indeterminate"></ion-progress-bar>
  <ion-list>
    <ion-item>
      <ion-input type="file"  accept="image/*" (change)="onFileChange($event)" placeholder=" Select an image to upload" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea  mode="ios"  (change)="onTextChange($event)"  placeholder="#tweet Tell us Something"></ion-textarea>
    </ion-item>
  </ion-list>


  <ion-button (click) ="sendTweet()" class="tweet" color="primary">Send</ion-button>  
</ion-content>
