.close {
    --box-shadow:0;
  }
  
  .tweet {
    margin: 0 auto;
    bottom:20px;
    position: absolute;
    left: 40%;
    right: 40%;
  }


  ion-input {
      margin: 50px;
      border-radius: 25px;
      box-shadow: gray;
      
  }