<app-nav-bar></app-nav-bar>
<ion-content [fullscreen]="true">

  <div *ngIf="auth.loggedIn">
    <ion-list >
      <ion-item  *ngFor="let item of data$">
        <ion-card>
          <ion-card-header>{{handler}}</ion-card-header>
          <ion-card-content>
            <ion-col>
              <ion-img src="{{item.attachmentUrl}}"></ion-img>
              <ion-label>item.comment</ion-label>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  

  </div>




  <ion-button *ngIf="auth.loggedIn" (click) ="openModal()" class="tweet" color="primary">Tweet</ion-button>
</ion-content>
